html {
    /* position: relative; */
    height:100%;
}

/* leaf background image */
body {
    margin:0px;
    background-image:url(./assets/images/leaves-pattern.png);
    background-style: repeat;
    width: 100%;
    height: 100%;
    /* padding-bottom:50px; */

    display: flex;
    flex-direction: column;
}

/* header with navbar */
 .justify-content-end {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd; 
    
}
/* navbar titles */
a {
    color: #777777;
    text-decoration: none;
    font-family: 'arial', 'helvetica neue', 'helvetiva', 'sans-serif'; 

}

/* "Emily Doan" on navbar*/
.navbar.navbar-light.bg-light{
    background-color: #4aaaa5!important;
    padding: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: 0px;
    margin-right: auto;
    margin-left: 100px;
    
 }

 
.navbar-light .navbar-text {
    color: white;
}

#aboutme {
    padding: 20px;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    border-bottom-color: #dddddd;
    border-bottom-width: 3px;
    border-bottom-style: solid;}


 /* box of content */
.wrapper {
    background-color: white;
    font-family: 'arial', 'helvetica neue', 'helvetiva', 'sans-serif';
    border-width: 2px;
    border-color: #dddddd;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    color: #777777;
    margin-bottom: 50px;
    /* overflow: auto; */
    line-height: 30px;
    /* min-height: 100%; */
    /* position: relative; */
    /* height: 100%; */

    flex: 1 0 auto;
}





/* profile pic on index.html */
.img-thumbnail {
    width: 240px;
    height: 240px;
    float: left;
    margin: 15px;
}
  

.footer {
    /* position: absolute; */
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #4aaaab;
    left: 0 ; right: 0; bottom: 0; 
    height:-50px;

    flex-shrink: 0;
  }
.col-sm {
    position: relative;
    padding: 20px;
}
/* banner on top of portfolio images */
  .banneronimg {
    position: absolute;
    background-color: #4aaaa5;
    text-align: center;
    width: 300px;
    margin-top: -85px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  }


/* media queries */
 /* Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
    .navbar.navbar-light.bg-light {
        width: 100%;
        margin-left: 0;
    }
    .justify-content-end  {
        text-align: center !important;
    }
    .container-fluid {
        width: 100%;
        margin-right: 40px;
    }

 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .justify-content-end {
        width: 100%;
    
    }
    html {
        width: 100%;
    }
    .container-fluid {
        width: 100%;
        margin-right: 40px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .container-fluid {
        width: 100%;
        margin: 40px;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { } 